<!DOCTYPE html>
<html>
<head>
    <title>Bienvenidos en layout</title>
    @RenderSection("head", required: false)
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="Conteiner">
        <header>
            
        </header>
        <section>
            <article>
                @RenderBody()
            </article>
        </section>
    
        <aside id="pub">
            <article>
                <div>
                    
                </div>
            </article>
        </aside>
        <footer>
           
        </footer>

    </div>

</body>
</html>
